[package]
name = "wmi"
version = "0.8.1"
authors = ["Ohad Ravid <ohad.rv@gmail.com>"]
edition = "2018"
license = "MIT OR Apache-2.0"
readme = "README.md"
documentation = "https://docs.rs/crate/wmi"
homepage = "https://github.com/ohadravid/wmi-rs"
repository = "https://github.com/ohadravid/wmi-rs"
description = """
WMI crate for rust.
"""
categories = ["api-bindings", "os::windows-apis"]
keywords = ["wmi", "com", "win32"]

[package.metadata.docs.rs]
default-target = "x86_64-pc-windows-msvc"

[features]
test = ["lazy_static", "async-std"]
async-query = ["async-channel", "futures", "com"]

[target.'cfg(target_os = "windows")'.dependencies]
winapi = { version = "0.3.9", features = ["objbase", "wbemcli", "objidlbase", "oaidl", "oleauto", "errhandlingapi", "wtypes", "wtypesbase"] }
log = "0.4"
widestring = "0.4"
serde = { version = "1.0", features = ["derive"] }
chrono = { version = "0.4", features = ["serde"] }
lazy_static = { version = "1.4.0", optional = true }
thiserror = "^1"
async-channel = {version = "1.5.1", optional = true}
async-std = { version = "1.8.0",  features = ["attributes"], optional = true }
futures = { version = "0.3", optional = true}
com = { version = "0.4", features = ["production"], optional = true }

[dev-dependencies]
lazy_static = "1.4.0"
serde_json = { version = "1.0" }
criterion = "0.3"
tempdir = "0.3"
async-std = "1.8.0"

[[bin]]
name = "wmiq"

[[bench]]
name = "benchmark"
path = "./src/benches/benchmark.rs"
harness = false